@using Resource = Resources.Areas.Administration.Problems.Views.EditorTemplates.ProblemMoveEditorTemplate;
@*@model OJS.Web.Areas.Administration.ViewModels.Submission.SubmissionAdministrationViewModel*@
@model OJS.Web.Areas.Administration.ViewModels.Problem.MoveProblemViewModel

@using (Html.BeginForm("Move", "Problems", FormMethod.Post, new { id = "SubmissionForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(model => model.DestinationCategoryId, new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.DestinationCategoryId)
                @Html.ValidationMessageFor(model => model.DestinationCategoryId)
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.DestinationContestId, new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.DestinationContestId)
                @Html.ValidationMessageFor(model => model.DestinationContestId)
            </div>
        </div>*@
    </div>
}

