@using OJS.Web.Areas.Users.InputModels.Teams
@using OJS.Web.Areas.Users.ViewModels.Teams
@model UserTeamsViewModel

@{
    ViewBag.Title = "Отбори";
}

<h2>@ViewBag.Title</h2>

<h3>Моите отбори</h3>
@Html.ActionLink("Създаване на отбор", "Create", "Teams", new { area = "Users" }, new { @class = "btn btn-success bottom-buffer" })
<section class="well well-lg">
    @if (Model.UserHasTeams)
    {
        @(Html.Kendo().Grid<TeamViewModel>()
            .Name("TeamsGrid")
            .Columns(columns =>
            {
                columns.Bound(col => col.Id);
                columns.Bound(col => col.Name);
                columns.Bound(col => col.Role).ClientTemplate(@"#= OjsControls.ClientDisplayHelpers.getTeamRoleTemplate(Role) #");
                columns.Bound(col => col.MembersCount);
                columns.Bound(col => col.CreatedOn).Format("{0:HH:mm dd.MM.yyyy}");
            })
            .Pageable(x => x.Refresh(true))
            .Reorderable(x => x.Columns(true))
            .Resizable(x => x.Columns(true))
            .DataSource(datasource => datasource
                .Ajax()
                .ServerOperation(true)
                .Model(model => model.Id(m => m.Id))
                .Read(read => read.Action("ReadTeams", "Teams", new { area = "Users"}))
            )
        )
    }
    else
    {
        <p class="alert alert-warning">Не участвате в отбори</p>
    }
</section>

<h3>Моите заявление за участия в отбори</h3>
@Html.ActionLink("Заявление за включване в отбор", "CreateApplication", "Teams", new { area = "Users" }, new { @class = "btn btn-success bottom-buffer" })
<section class="well well-lg">
    @if (Model.UserHasTeamApplications)
    {
        @(Html.Kendo().Grid<TeamApplicationViewModel>()
            .Name("TeamApplicationsGrid")
            .Columns(columns =>
            {
                columns.Bound(col => col.Id);
                columns.Bound(col => col.TeamName);
                columns.Bound(col => col.Status).ClientTemplate(@"#= OjsControls.ClientDisplayHelpers.getEntryProcesedStateTemplate(Status) #");
                columns.Bound(col => col.CreatedOn).Format("{0:HH:mm dd.MM.yyyy}");
            })
            .Pageable(x => x.Refresh(true))
            .Reorderable(x => x.Columns(true))
            .Resizable(x => x.Columns(true))
            .DataSource(datasource => datasource
                .Ajax()
                .ServerOperation(true)
                .Model(model => model.Id(m => m.Id))
                .Read(read => read.Action("ReadTeamApplications", "Teams", new { area = "Users" }))
            )
        )
    }
    else
    {
        <p class="alert alert-warning">Нямате подадени заявленения за участие в отбори</p>
    }
</section>